<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WordToPDF</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <img src="/img/logo.jpg" alt="logo">
        <h1>WORD<span>to</span>PDF</h1>
        <p><span id="number">0</span> Documents Converted</p>
    </header>

    <div class="main">
        <h1>Convert Word to PDF Documents Online for FREE</h1>
        <p>
            Our online tool allows yoy to convert Word documents to PDF 
            for free. No downloads required.
        </p>

        <div class="flex">
            <div class="first">
                <img src="/img/wordToPDF.jpg" alt="wordToPDF">
            </div>
            <div class="second">
                <h3>Drag & Drop the File Here</h3>
               
                
                    <input type="file" id="file" multiple accept="*.docx" class="none">
                    <button id="fileSelect" name="upload"><img src="/img/search.png" alt="search">Choose File</button>
                    <button id="download" class="none gray" download>Download</button>
    
                    <div class="mail none" id="mail">
                        <label for="email">Unesi E-mail</label>
                        <input type="email" name="myMail" id="email">
                        <button id="send">Send</button>
                    </div>

                 
            </div>

        </div>
    </div>


<script src="/js/index.js"></script>
</body>
</html>